[Unit]
Description=sotaoi
After=network.target

[Service]
WorkingDirectory=/root/sotaoi
ExecStart=/usr/bin/node ./scripts/service.js
KillMode=process
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=what
# Restart=on-failure
# RestartSec=10
User=root
Group=root

[Install]
WantedBy=multi-user.target
