# APP INFO
APP_NAME=MONOlogz
BUNDLE_ID=com.qwertypnks.monologz.main
PACKAGE_NAME=com.qwertypnks.monologz
DEV_DOMAIN=monologz.loc
DEV_DOMAIN_ALIAS=
STAGE_DOMAIN=
STAGE_DOMAIN_ALIAS=
PROD_DOMAIN=
PROD_DOMAIN_ALIAS=
DEV_MOBILE_API_URL=https://monologz.loc/api
MOBILE_BUNDLE_LOCATION_HOST=localhost
MOBILE_BUNDLE_LOCATION_PORT=8081

# DATABASE
DB_HOST=monologz.loc
DB_USER=monologz.art
DB_PASSWORD=gorgonzaurus
DB_NAME=monologzart

# LOGGER
LOG_PATH=./var/logs

# SSL
GREENLOCK_EXECUTION=autorun
SSL_MAINTAINER=admin@monologz.loc
SSL_CERT=./sotaoi/api/certs/cert.pem
SSL_KEY=./sotaoi/api/certs/privkey.pem
SSL_CA=./sotaoi/api/certs/bundle.pem
SSL_CHAIN=./sotaoi/api/certs/chain.pem
SSL_FCHAIN=./sotaoi/api/certs/fullchain.pem
