# APP INFO
APP_NAME=MONOlogz
BUNDLE_ID=com.qwertypnks.monologz.main
PACKAGE_NAME=com.qwertypnks.monologz
DEV_DOMAIN=monologz.loc
DEV_DOMAIN_ALIAS=www.monologz.loc
DEV_MOBILE_API_URL=https://monologz.loc/api
MOBILE_BUNDLE_LOCATION=localhost:8081

# DATABASE
DB_HOST=monologz.loc
DB_USER=monologz.art
DB_PASSWORD=gorgonzaurus
DB_NAME=monologzart

# LOGGER
LOG_PATH=./var/logs

# SSL
SSL_CERT=/etc/letsencrypt/live/monologz.loc/fullchain.pem
SSL_KEY=/etc/letsencrypt/live/monologz.loc/privkey.pem
SSL_CA=
