!.gitkeep

# env
/.env

# app
/app/example
/.greenlockrc
/public/build
/logs
/node_modules
/sotaoi/api/certs/*
!/sotaoi/api/certs/.gitkeep
/todo.txt
/var/build/release
/var/build/sdk
/var/greenlock.d/*
!/var/greenlock.d/.gitkeep

# ide
/.idea
/.vscode

# storage
!/.gitkeep
/storage/*

# android
/output.log
/rn.log
/android/.gradle
/android/app/build

# electron
/electron/node_modules

# ios
/template/ios/Pods/
/template/ios/Podfile.lock
/packages/rn-tester/Gemfile.lock

# php
/php/node_modules
/php/output.log
/php/vendor
/public/hot
/public/storage
/storage/*.key

# mongo
/var/mongo/**/*
!/var/mongo/.gitkeep
