!.gitkeep

# env
/.env
/.env.production
/.env.staging
/.env.development
/.env.testing
/.env.local

# logs
/logs

# certs
/sotaoi/api/certs/privkey.pem
/sotaoi/api/certs/fullchain.pem

# app
/todo.txt
/app/client/build
/node_modules
/var/build/release
/var/build/sdk

# ide
.idea
.vscode

# android
/output.log
/rn.log
/android/.gradle
/android/app/build

#ios
/template/ios/Pods/
/template/ios/Podfile.lock
/packages/rn-tester/Gemfile.lock
